body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
figure,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: 400;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
input,
textarea,
select {
  *font-size: 100%;
}
legend {
  color: #000;
}
/* fonts */
body {
  *font-size: small;
  *font: x-small;
}
table {
  font-size: inherit;
  font: 100%;
}
pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}
@font-face {
  font-family: 'montserratultra_light';
  src: url('montserrat-ultralight-webfont.eot');
  src: url('montserrat-ultralight-webfont.eot') format('embedded-opentype'), url('montserrat-ultralight-webfont.woff') format('woff'), url('montserrat-ultralight-webfont.ttf') format('truetype'), url('montserrat-ultralight-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('icomoon.eot');
  src: url('icomoon.eot') format('embedded-opentype'), url('icomoon.woff') format('woff'), url('icomoon.ttf') format('truetype'), url('icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"],
.fa-facebook-official,
.close:before {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  padding-right: 5px;
  position: relative;
  top: 1px;
}
.icon-account_acceso:before {
  content: "\e900";
}
.icon-account_spento:before {
  content: "\e901";
}
.icon-arrow:before {
  content: "\e902";
}
.icon-back:before {
  content: "\e903";
}
.icon-coppa:before {
  content: "\e904";
}
.icon-cuore_animazione:before {
  content: "\e905";
}
.icon-cuore_verde_zoom:before {
  content: "\e906";
}
.icon-download:before {
  content: "\e907";
}
.icon-email_login:before {
  content: "\e908";
}
.icon-facebook_fill:before,
.fa-facebook-official:before {
  content: "\e909";
}
.icon-facebook:before {
  content: "\e90a";
}
.icon-more:after {
  content: "\e90b";
  position: relative;
  top: 5px;
  left: 3px;
}
.icon-off_line:before {
  content: "\e90c";
}
.icon-search_acceso:before {
  content: "\e90d";
}
.icon-search_piccola:before {
  content: "\e90e";
  top: 7px;
  padding-right: 0;
  font-size: 20px;
  font-weight: bolder;
}
.icon-search_spento:before {
  content: "\e90f";
}
.icon-telephone:before {
  content: "\e910";
}
.icon-x:before,
.close:before {
  content: "\e911";
}
.icon-penna:before {
  content: "\e912";
}
.icon-peso:before {
  content: "\e913";
}
.icon-clock104:before {
  content: "\e914";
}
.icon-classifica:before {
  content: "\e915";
  color: #00c1e2;
}
.icon-replay:before {
  content: "\e916";
}
.icon-rubbish12:before {
  content: "\e917";
  color: #e7f943;
  margin-left: 5px;
}
.icon-check:before {
  content: "\e918";
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #121721;
  color: #e7e7f9;
  font-family: 'montserratultra_light', sans-serif;
  font-size: 15px;
}
#gfsdk_root {
  position: absolute;
  text-align: center;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  overflow-x: scroll;
  background-color: #121721;
}
#gfsdk_root a {
  text-decoration: none;
}
button {
  font-family: 'montserratultra_light', sans-serif;
}
.logo {
  height: 60px;
  line-height: 60px;
  background: #00c1e2;
}
.logo a {
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #e7e7f9;
}
.score {
  height: 130px;
  top: 0;
}
.score.score-guest {
  padding-top: 20px;
  height: 110px;
}
.score.score-guest > div {
  width: 100%;
}
.score.score-noguest > div > div {
  display: inline-block;
  width: 50%;
  float: left;
  height: 100%;
}
.score.score-noguest > div > div > div {
  margin-top: 15px;
  margin-bottom: 15px;
}
.score span[class^="icon"] {
  font-size: 35px;
  display: block;
}
.score .icon-coppa {
  color: #e7f943;
}
.score .icon-coppa:before {
  padding-right: 0;
}
.score .separator {
  border-right: 1px solid rgba(231, 231, 249, 0.5);
}
.score h2 {
  font-size: 35px;
}
.score h3 {
  padding-top: 5px;
}
.img-game {
  padding-top: 15px;
  padding-bottom: 20px;
}
.img-game .img {
  width: 47%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 300px;
  position: relative;
}
.img-game .img img {
  width: 100%;
}
.img-game span[class^="icon"] {
  font-size: 22px;
}
.img-game span:nth-child(2),
.img-game .add,
.img-game .remove {
  position: relative;
  top: -4px;
}
.score,
.img-game,
.facebook-share,
.related {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 70%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 70%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 70%);
}
.btn,
.btn:visited,
.btn:link,
.btn:focus {
  cursor: pointer;
  height: 35px;
  display: inline-block;
  border: 1px solid #e7e7f9;
  font-size: 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: transparent;
  line-height: 35px;
  margin: 0 auto;
}
.btn.play,
.btn:visited.play,
.btn:link.play,
.btn:focus.play {
  border-color: #f84975;
  background: #f84975;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.btn .icon-cuore_verde_zoom,
.btn:visited .icon-cuore_verde_zoom,
.btn:link .icon-cuore_verde_zoom,
.btn:focus .icon-cuore_verde_zoom {
  color: #f84975;
}
.facebook-share {
  padding-bottom: 20px;
  padding-top: 20px;
}
.facebook-share .btn {
  margin-top: 20px;
  background-color: #0C6396;
  border-color: #0C6396;
}
.img-game .btn,
.facebook-share .btn {
  display: block;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
}
.ellipsis,
.native-banner h4,
h2,
.h2-hr,
.head-elements {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.native-banner {
  background-color: #221a3f;
  padding: 8px;
  height: 60px;
  display: block;
}
.native-banner .hybridApp {
  padding-left: 60px;
  max-width: 480px;
  display: block;
  position: absolute;
  top: 8px;
  left: 12px;
  right: 8px;
}
.native-banner .hybridApp:before {
  background-size: 60px;
  width: 60px;
  height: 60px;
}
.native-banner h4 {
  margin: 0;
  margin-right: 120px;
  margin-left: 8px;
}
.native-banner h4:first-child {
  font-weight: bold;
}
.native-banner .btn.play {
  position: absolute;
  top: 2px;
  right: 4px;
  color: #e7e7f9;
  width: 110px;
  text-align: center;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .native-banner {
    display: none;
  }
}
[class^='gradient-bg'] {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 0;
  top: -3px;
}
.gradient-bg-bottom {
  bottom: 0;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
}
.related {
  overflow-x: auto;
  padding-left: 14px;
  padding-right: 9px;
  padding-bottom: 40px;
}
.related h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: left;
}
.related a {
  width: 33.33333333%;
  display: inline-block;
  float: left;
}
.related a div {
  padding-right: 5px;
  max-width: 192px;
  margin: 0 auto;
}
.related a img {
  width: 100%;
}
.like-btn .add,
.like-btn .heart-active .remove {
  display: inline-block;
}
.like-btn .remove,
.like-btn .heart-active .add {
  display: none;
}
@media (min-width: 768px) {
  .container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 60px;
    max-width: 1280px;
    position: relative;
  }
}
h1,
h2 {
  font-size: 22px;
}
h2 {
  font-size: 22px;
  margin-bottom: 30px;
}
h2.small {
  font-size: 18px;
}
h2.big {
  font-size: 42px;
}
h2.medium {
  font-size: 30px;
}
.h2-hr {
  display: inline-block;
  position: absolute;
  margin-top: -23px;
  padding-right: 15px;
  background-color: #121721;
  max-width: 90%;
}
h3 {
  font-size: 15px;
}
h4 {
  font-size: 13px;
}
.errorText {
  padding: 5px;
  background: rgba(231, 231, 249, 0.1);
}
header {
  height: 60px;
  background: #00c1e2;
  color: #e7e7f9;
}
header [class^="icon-"],
header [class*=" icon-"] {
  font-size: 28px;
}
#header header {
  background: transparent;
  color: #e7e7f9;
  height: auto;
}
.elements {
  position: relative;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
a.link-head,
.head-elements {
  height: 60px;
  line-height: 60px;
  color: #e7e7f9;
  display: inline-block;
  padding: 0 8px;
  position: relative;
}
a.link-head.logo {
  height: 56px;
  margin-left: 8px;
  width: 150px;
}
a.link-head.account.arrow-top::after {
  right: 3px;
}
a.link-head.account.unlogged {
  top: -6px;
  padding-left: 0px;
}
.logo,
.logo:link,
.logo:visited,
.logo:active {
  background-image: url('logo_gameasy.svg');
  background-position: left 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.head-elements {
  display: inherit;
  text-transform: uppercase;
  left: -25px;
}
.head-elements.center {
  left: -20px;
}
.arrow-top::after {
  display: none;
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin: auto;
  text-align: center;
  z-index: 1000;
  border-top-color: inherit;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
.arrow-top--light::after {
  display: none;
  border-bottom: 6px solid #e7e7f9;
}
.arrow-top--dark::after {
  display: none;
  border-bottom: 6px solid #121721;
}
.explore-page .icon-search_spento:before {
  content: "\e90d";
  color: #466986;
}
.explore-page .explore.arrow-top--light::after {
  display: block;
}
.explore-page .explore.arrow-top--dark::after {
  display: block;
  border-bottom-color: #232f43;
}
.settings-page .icon-account_spento:before {
  content: "\e900";
  color: #466986;
}
.settings-page .arrow-top--dark::after {
  display: block;
}
.settings-page .explore.arrow-top--dark::after {
  display: none;
}